
<h1>Listing doortags</h1>



    <% @doortags.each do |doortag| %>
   
 
        <div class="panel callout">
        <b><%= @swits.where(id: doortag.swit_id).first.user_id%></b>
        <h3><%= @swits.where(id: doortag.swit_id).first.post%><h3>
        </div>

     
    <% end %>


<br>
