/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides

 *= require_tree .
 */
@import 'foundation-icons';

#header{
    margin-top: 150px;
	height: 450px;
	width: 100%;
	position: absolute;
	background: #F20041;
  

}
.fixed{
    top:0px;
    z-index:2;
    position:fixed;
    height:100px;
}

.logo{
      width: 200px;
        top:0px;
         z-index:2;
         position:fixed;
}

#alogo:hover{
    background-color:transparent;
}

#posting{
    postion:absolute;
}
#mainheader{
    height:200px;

}
#tags{
    position:fixed;
}

header{
    background-color: beige;
    height:200px;
    border-bottom:solid;
    border-width: 30px;
}
#head{
    height:200px;
}

#bodytag{
    background-color: #fb2279;
}
#txt{
    max-width:533px;
    max-height:98px;
    min-height:65px;
    min-width: 455px;
}
.switlist{
    margin-top:250px;
    background-color:white;
}

.swit{
    background-color:pink;
}


.sweet { 
    background-image: image-url('up.png');
    display:inline;
    background-repeat:no-repeat;
    width: 17px;
    height: 16px;
    border: 0px;
    background-size:16px;
    background-color:transparent;
    cursor: pointer;
    outline: 0;
}


.sweet:hover{ 
     width: 20px;
    height: 20px;
     background-size:20px;
}
.sweet_form{
	
	display:inline;
}

.sour { 
    background-image: image-url('down.png');
    display:inline;
    background-repeat:no-repeat;
    width: 17px;
    height: 16px;
    border: 0px;
    background-size:16px;
    background-color:transparent;
    cursor: pointer;
    outline: 0;
}
.sour:hover{ 
     width: 20px;
    height: 20px;
     background-size:20px;
}
.sour_form{
    
    display:inline;
}

.main{
    background-color:white;
    padding:50px;
}
