/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides

 *= require_tree .
 */
@import 'foundation-icons';

#header{

	height: 600px;
	width: 100%;
	position: absolute;
	background: #F20041;
}

#main{


	background: white;
}

.sweet { 
    background-image: image-url('glyphicons_012_heart.png');
    display:inline;
    background-repeat:no-repeat;
    width: 17px;
    height: 16px;
    border: 0px;
    background-size:16px;
    background-color:transparent;
    cursor: pointer;
    outline: 0;
}
.sweet:hover{ 
     width: 20px;
    height: 20px;
     background-size:20px;
}
.sweet_form{
	
	display:inline;
}
